<!DOCTYPE html>
<html>
  <head>
    <title>Philanthrobook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Haven</h1>
      <% if @current_user %>
        <%= link_to "Log Out", log_out_path %>
      <% end %>
    </div>

    <% if notice.present? %>
      <p class="notice close"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert close"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
